* {
    margin: 0;
    padding: 0;
}

.parent {
    /* border: 2px dotted gray; */
    border-width: 4px;
    border-color: brown;
    border-style: groove;
    
    height: 580px;
    /* width: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.box1 {
    background-color: red;
    visibility: hidden;
}

.box2 {
    background-color: rgb(51, 255, 0);
    display: none;
}

.box3 {
    background: linear-gradient(red, yellow, pink, green);
}

.box4 {
    background: radial-gradient(red,yellow,blue);
}